<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" formControlName="username" name="username" id="username"
                        autocomplete="off"
                        [ngClass]="{'is-valid':(formControls.username.touched && formControls.username.valid),
                                    'is-invalid':(formControls.username.touched && formControls.username.invalid)}">
                </div>
                <div class="alert alert-danger p-1"
                    *ngIf="formControls.username.invalid && formControls.username.touched">
                    <div *ngIf="formControls.username.errors?.required">Username is Required</div>
                    <div *ngIf="formControls.username.errors?.minlength">Minimum 3 characters Required</div>
                    <div *ngIf="formControls.username.errors?.nameRestricted">Please Enter a valid Username</div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" formControlName="email" name="email" id="email"
                        autocomplete="off">
                </div>
                <div formArrayName="addRow">
                    <div>
                        <button class="btn btn-warning mt-2" (click)="addRow()">Add row</button>
                    </div>
                    
                    <div class="form-group mt-2" *ngFor="let row of addRowControls; let i = index">
                        <input type="text" class="form-control" [formControlName]="i">
                    </div>
                </div>

                <div>
                    
                    <button class="btn btn-primary mt-3" [disabled]="!signUpForm.valid" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>